html{
  scroll-behavior: smooth;
}
.home {
    background-color: #F5EFE6;

  }
  

  .toolbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }
  
  .home .overlap {
    height: 320px;
    top: 185px;
    left: 731px;
  }
  
  .home .ellipse {
    height: 309px;
    top: 11px;
    left: 0;
    background-color: #beb8ac;
    border-radius: 154.5px;
    width: 309px;
  }
 
  
  .inicio{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 15px;
  }

  .home .alan {
    border-radius: 176px;
    max-width: 300px;
  }
  
  .home .alan-tasat {
    font-family: "Heebo-Bold", Helvetica;
    font-weight: 700;
    color: var(--dark-color);
    font-size: 24px;
    letter-spacing: 0;
    line-height: 60px;
  }
  
  .home .te-invito-a-que {
    font-family: "Heebo-Regular", Helvetica;
    font-weight: 400;
    color: var(--dark-color);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .text-wrapper {
    font-family: "Heebo-SemiBold", Helvetica;
    font-weight: 560;
    color: var(--dark-color);
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
  }

  .text-titulo{

    margin-right: 26px;
  }

  .text-parrafo{

    margin-right: 26px;
  }

  .texto-inicio{
    max-width: 50%;
  }
  
  .group{
    max-width: 50%;
  }
  
  .home .text-wrapper-2 {
    transition: all 0.1s linear;
    font-family: "Heebo-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
    padding: 10px;
  }
  
  .home .text-wrapper-2:hover {
    transform: scale(1.1);
  }
  
  .home .sobre-mi {
    transition: all 0.1s linear;
    font-family: "Heebo-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
    padding: 10px;
  }
  
  .home .sobre-mi:hover {
    transform: scale(1.1);
  }
  
  .home .text-wrapper-3 {
    transition: all 0.1s linear;
    font-family: "Heebo-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
    padding: 10px;
  }
  
  .home .text-wrapper-3:hover {
    transform: scale(1.1);
  }
  
  .home .contact-button {
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 153px;
    height: 47px;
    background-color: #2A3A5E;
    border-radius: 30px;
    font-family: "Heebo-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-in;
    max-width: 70%;
    margin-right: 26px;
  }
  
  .home .contact-button:hover {
    transform: scale(1.1);
  }
  
  .home .overlap-wrapper {
    transition: all 0.2s ease-in;
    padding: 10px;
  }
  
  .home .overlap-wrapper:hover {
    transform: scale(1.1);
  }
  
  .home .div-wrapper {
    width: 149px;
    display: flex;
    height: 47px;
    background-color: #2A3A5E;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .home .text-wrapper-5 {
    width: 111px;
    top: 9px;
    left: 20px;
    white-space: nowrap;
    font-family: "Heebo-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .img {
    top: 1264px;
    left: 2965px;
    width: 309px;
  }
  
  .home .overlap-2 {
    max-width: 100%;
    display: flex;
    border-radius: 30px;
    padding: 15px;
    background-color: #beb8ac47;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 50px;
  }
  
  .home .overlap-3 {
    max-width: 418px;
    padding: 10px;
    background-color: #F5EFE6;
    border-radius: 30px;
    display: flex;
    box-shadow: 0px 4px 10px #bbe1fa40;
    margin-right: 70px;
    flex-direction: column;
    justify-content: center;
}
  
  .home .p {
    font-family: "Heebo-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--dark-color);
    font-size: 26px;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
  }
  
  .home .text-wrapper-6 {
    font-family: "Heebo-Regular", Helvetica;
    font-weight: 400;
    color: var(--dark-color);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .overlap-4 {
    max-width: 418px;
    display: flex;
    padding: 10px;
    background-color: #F5EFE6;
    border-radius: 30px;
    box-shadow: 0px 4px 10px #bbe1fa40;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .home .text-wrapper-7 {
    font-family: "Heebo-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--dark-color);
    font-size: 26px;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
  }
  
  .home .text-wrapper-8 {
    font-family: "Heebo-Regular", Helvetica;
    font-weight: 400;
    color: var(--dark-color);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .text-wrapper-9 {
    height: 60px;
    top: 6px;
    left: 148px;
    font-family: "Heebo-Bold", Helvetica;
    font-weight: 700;
    color: var(--dark-color);
    font-size: 30px;
    letter-spacing: 0;
    line-height: 60px;
    white-space: nowrap;
  }
  
  .bloques{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bloques-2-3{
    display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
  }
  .home .overlap-5 {
    max-width: 926px;
    display: flex;
    padding: 10px;
    top: 79px;
    left: 144px;
    background-color: #F5EFE6;
    border-radius: 30px;
    box-shadow: 0px 4px 10px #bbe1fa40;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .home .text-wrapper-10 {
    font-family: "Heebo-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--dark-color);
    font-size: 26px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .text-wrapper-11 {
    font-family: "Heebo-Regular", Helvetica;
    font-weight: 400;
    color: var(--dark-color);
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .group-2 {
    width: 1152px;
    height: 198px;
    top: 1361px;
    left: 0;
  }
  
  .home .footer {
    display: flex;
    top: 16px;
    left: 0;
    background-color: #F5EFE6;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .home .footer-img{
    display: flex
;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .home .text-wrapper-12 {
    font-family: "Heebo-Regular", Helvetica;
    font-weight: 400;
    color: var(--dark);
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }


  .home .image{
    max-height: 30px;
    margin: 5px;
  }
  .home .image-2 {
    max-height: 30px;
    margin: 5px;
  }
  
  .home .image-3 {
    max-height: 30px;
    margin: 5px;
  }

  @media (max-width: 768px) {
    .inicio {
          display: flex;
          flex-direction: column;
          margin-top: 70px;
          margin-bottom: 70px;
          padding: 15px;
          align-content: center;
          flex-wrap: wrap;        /* Espacio entre elementos */
    }
  
    .texto-inicio {
      max-width: 90%; /* Ajusta el texto para que no ocupe demasiado ancho */
      text-align: center; /* Centra el texto */
    }
  
    .home .alan {
      max-width: 60%; /* Ajusta el tamaño de la imagen para móviles */
    }
    .home .img{
      max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .text-parrafo{
      margin: 0px;
    }
    .text-titulo{
      margin: 0px;
    }

    .group{
      display: flex;
    justify-content: center;
    max-width: 100%;
    }
    .home .contact-button {
      margin-right: 0px;
    }
    .bloques-2-3 {
      display: flex
  ;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
    }
    .home .overlap-3 {
      max-width: 418px;
      margin-bottom: 15px;
      padding: 10px;
      background-color: #F5EFE6;
      border-radius: 30px;
      display: flex;
      box-shadow: 0px 4px 10px #bbe1fa40;
      flex-direction: column;
      justify-content: center;
      margin-right: 0px;
    }
  }